.form {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: larger;
}
.form-field {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: #d3d3d3;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 50%;
}

.buttons {
    margin-top: 5px;
    margin-left: 5px;
    width: 80%;
}
.button {
    padding: 5px;
    width: 40%;   
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    box-shadow: 0 7px 4px 2px #999;	
    color: #ffffff;
}
.button:active {
    box-shadow: 0 3px #808080;
    transform: translateY(5px);
}
.green {
    background-color: #008000;
}
.red {
    background-color: #cd5c5c;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}